* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.navbar .imageAdmin img {
  width: 70px;
  height: 70px;
}
/* Start All Products  */
.allProducts .table {
  border: 3px solid gold;
}
.allProducts .table td,
.allProducts .table th {
  border-right: 1px solid gold;
}
.allProducts .table tr {
  border: none;
  border-color: transparent;
}
.allUsers .table tr img,
.allProducts .table tr img {
  width: 70px;
  height: 70px;
}
.allUsersNum .numbers .active,
.allProductsNum .numbers .active {
  background-color: gold;
  
}
/* End All Products  */
